<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/toastr/toastr.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"/>    
    <title>{{pageTitle}}</title>
</head>
<body >
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg  mb-2">
            <div class="container-fluid ">
                <a class="navbar-brand text-white" href="/">
                    <i class="fa-solid fa-clapperboard"></i>
                </a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">                            
                            <a class="nav-link text-light  {{#if (Compare itemActive "Inicio")}} active {{/if}}" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">                            
                            <a class="nav-link text-light  {{#if (Compare itemActive "Mantenimiento")}} active {{/if}}" href="/admin/movies/">Mantenimiento</a>                            
                        </li>                                                                       
                    </ul>
                {{#if  serarchActive }}
                    <form method="POST" action="{{#if indexPage}}/{{else}}/admin/movies/ {{/if}}">
                       <div class="input-group  mt-2 mb-1 ">
                            <select name="generoFiltro" class="form-select form-select-sm" >
                                <option value="Todas">Todas</option> 
                                <option value="Acción">Acción</option> 
                                <option value="Terror">Terror</option> 
                                <option value="Comedia">Comedia</option> 
                                <option value="Suspenso">Suspenso</option> 
                                <option value="Documentales">Documentales</option> 
                            </select>
                            <button class="input-group-text" type="submit">Filtrar</button>
                        </div>
                    </form>
                {{/if}}
                </div>
            </div>
        </nav>
    </header>   
    <main >
        {{{body}}}
    </main>
    <footer class="border-top footer bg-light text-center">
        <div class="container">
            &copy; {{Year}} - Gestor de peliculas - <span  class="text-dark text-muted"> Esta aplicacion fue completamento desarrollada por : <a href="https://github.com/Frankiie64" style="text-decoration:none; " class="text-dark" target="_blank">Franklyn Brea</a></span>
        </div>
    </footer>

    <script src="/assets/js/Jquery/jquery-3.6.1.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/assets/js/Toastr/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</body>
</html>